<h1>Edit Your Information</h1>

<p>Your Username: <%= current_user.username %></p>
<br>
<p>Your Email: <%= current_user.email %></p>
<br>

<form action="/users/<%= current_user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="username" id="username" placeholder="username">
  <input type="text" name="email" id="email" placeholder="email">
  <input type="password" name="password" id="password" placeholder="password">
  <input type="submit" name="submit" id="submit" value="Edit">
</form>

<br>

<h1>Delete Your User</h1>
<form action="/users/<%= current_user.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete">
</form> 