<h1>Weclome <%=@user.username%>!</h1>


<p><a href="/logout">Logout</a></p>

<p><a href="/show_spaceships">Show Your Spaceships</a></p>

<p><a href="/users/<%=@user.id%>/edit">Edit Your Information</a></p>