<h1>Create A New Spaceship</h1>

<form action="/spaceships" method="post">
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="ship_type" id="ship_type" placeholder="ship_type">
  <input type="text" name="description" id="description" placeholder="description">
  <input type="submit" name="submit" id="submit" value="Create Ship">
</form>