<h1>Welcome to Spaceship Tracker!</h1>

<img src="https://wallpaperscave.com/images/original/18/03-30/sci-fi-spaceship-35515.jpg" class="charlie">

<br>

<a href="/users/new">Sign Up</a>

<a href="/login">Log In</a>
